.hsbe-white-box{
	background-color: #fff;
	padding: 10px 20px 20px 20px;
	margin-top: 30px;
	width: calc(100% -40px);
}
#hsbe-validation-error{
	border: 1px solid red;
	padding: 5px 20px;
}
.hsbe-error-msg{
	color: red;
}
.hsbe-error-msg-hide{
	display: none;
}